::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.today {
    padding-top: 14vh;
    padding-left: 16vh;
    width: 50vw;
    height: 100vh;
    display: inline-block;
    background-color: white;
    border-right: 1px solid grey;
    position: relative;
    overflow-y: auto;
    pointer-events: auto
  }
.future {
    padding-top: 14vh;
    padding-left: 16vh;
    width: 50vw;
    background-color: white;
    border-left: 1px solid grey;
    display: inline-block;
    height: 100vh;
    position: relative;
    overflow-y: auto;
}
.testingLink {
    background-color: blue !important;
    width: 5vw;
    height: 5vh;
    position: absolute;
    left: 0;
    top: 0;
  }
.clickable {
    cursor: pointer !important;
    pointer-events: auto !important;
}
.todayTitle {
    padding-top: 6.25vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    text-align: center;
    color: black;
    font-size: 5.5vh;
}
.futureTitle {
    padding-top: 6.25vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    text-align: center;
    color: black;
    font-size: 5.5vh;
}
.openNextDay {
    background-color: grey !important;
    width: 40vw;
    height: 8vh;
    position: fixed;
    left: 5vw;
    opacity: 0.5;
    top: 92vh;
}
.openPreviousDay {
    background-color: grey !important;
    width: 40vw;
    height: 8vh;
    position: absolute;
    left: 5vw;
    opacity: 0.3;
    top: 0;
}
.notes-late {
    color: red;
}
.notes-daily {
    color: blue;
}
.notes-new-note-menu {
    background-color: orange;
    width: 500px;
    height: 360px;
    position: fixed;
    z-index: 1000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    text-align: center;
}
.notes-new-title {
    color: white;
    font-size: 2.25em;
}
input {
    pointer-events: auto !important;
    cursor: auto !important;
}
.new-note-button{
    width: 4vh;
    height: 4vh;
    background-color: red;
    margin-bottom: 10vh;
    text-align: center;
    color: white;
    line-height: 4vh;
    font-size: 3vh;
}