.today {
    width: 50vw;
    height: 100vh;
    display: inline-block;
    background-color: red;
  }
.future {
    width: 50vw;
    background-color: blue;
    display: inline-block;
    height: 100vh;
}